* {
   
    box-sizing: border-box static;
}



.agrupar{ 
    background-size: 100%;
    background-color: rgba(223, 151, 202, 0.639);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid black 2px;
    padding: 3px;
}
.sochi{

 width: 80%;
 height: 80%;
 margin: 0;
 

}
.sochi ul {
    display: flex;
    padding: 0;
    width: 200%;
    animation: cambio 30s infinite alternate-reverse;
    animation-timing-function: ease-in;
    
}
.sochi li {
    
    list-style: none;
}
.sochi img {
    width: 90%;
}
@keyframes cambio{
100%{margin-left: -100%}    
100%{margin-left: -100%}



}

.bienvenido{
   
    background: white;
  font-size: 50px;
    padding: 0%;
    display: block;
    margin: right;

}

/* esto es del instagram y facebook */
.fondoblog{
    border: solid black 1px;
    padding:5px;
    display: run-in ;
    font-size: 30px;  
    margin: 10px;
    width: auto;
    background-color:rgb(244, 126, 224);
}

.pie{
background: rgb(3, 3, 3);
color: rgb(252, 252, 252);
font-size: 15px;
display: block;
padding: 0;
text-align: center;

}
.lista{
margin: 10px;
display: inline-block;
}

.productos{
font-family:'Times New Roman', Times, serif;
}

#contacto{
text-align: inherit;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
font-size: 20px;
padding: 0;
border:solid black 5px;



}


